
@model IEnumerable<AzureBlog.Models.CategoryModel>

@foreach(var category in Model)
{
    <title>@category.CategoryName Comparison</title>

    if (category.CategoryArticle == true)
    {
        <div class="row">
            <div class="col-sm-9">
                <div class="my-container">
                    <h1>@category.CategoryName Comparison</h1>
                    <img src="@category.CategoryPic">
                </div>
        

                <p class="intro">@category.Intro</p>
                
                <div class="greyBox">
                    <div class="alignCenter">
                        <p class="tblContents">Table of contents</p>
                    </div>
                    <hr />
                    <div class="tableOfContents">
     
                        @foreach (var segment in category.Segments)
                        {
                        <a href="#@segment.SegmentTitle">@segment.SegmentTitle</a>
                        }
                    </div>
                </div>

                @foreach (var segment in category.Segments)
                {
                    <div class="greyBox">
                        <div class="alignCenter">
                            <h2 id="@segment.SegmentTitle">@segment.SegmentTitle</h2>
                            <hr />
                            @if (segment.SegmentImage != "")
                            {
                                <img src="@segment.SegmentImage" />
                            }
                            @if (segment.SegmentVideo != "")
                        {
                                <iframe src="https://www.youtube.com/embed/@segment.SegmentVideo" frameborder="0" allowfullscreen></iframe>
                            }
                        </div>
                        <p class="bodyText">@segment.SegmentBody</p>
                        @if (segment.SegmentPar2 != "")
                        {
                            <br />
                            <p class="bodyText">@segment.SegmentPar2</p>
                        }
                        @if (segment.SegmentPar3 != "")
                        {
                            <br />
                            <p class="bodyText">@segment.SegmentPar3</p>
                        }
                    </div>
                }
   
                @Html.Partial("_AddSegment")


                </div>

          @Html.Partial("_Sidebar")

        </div>
    }

    @Html.Partial("_ArticleFalse")


}




