
@model IEnumerable<AzureBlog.Models.CategoryModel>

@foreach(var category in Model)
{
    <title>@category.CategoryName Comparison</title>

    if (category.CategoryArticle == true)
    {
        <div class="row">
            <div class="col-sm-9">
                <div class="my-container">
                    <h1>@category.CategoryName Comparison</h1>
                    <img src="@category.CategoryPic">
                </div>

                <p class="intro">@category.Intro</p>
                
                <div class="greyBox">
                    <p class="tblContents">Table of contents</p>
                    <div class="tableOfContents">
                        <a href="#Sec1">@category.Sec1Title</a>
                        <a href="#Sec2">@category.Sec2Title</a>
                        <a href="#Sec3">@category.Sec3Title</a>
                        @foreach (var segment in category.Segments)
                        {
                        <a href="#@segment.SegmentTitle">@segment.SegmentTitle</a>
                        }
                    </div>
                </div>

                <div class="greyBox">
                    <h2 id="Sec1">@category.Sec1Title</h2>
                        <hr />
                    <p class="bodyText">@category.Sec1Body</p>
                 </div>

                <div class="greyBox">
                    <h2 id="Sec2">@category.Sec2Title</h2>
                    <hr />

                    <p class="bodyText">@category.Sec2Body</p>
                </div>
                <div class="greyBox">
                    <h2 id="Sec3">@category.Sec1Title</h2>
                    <hr />

                    <p class="bodyText">@category.Sec2Body</p>
                </div>
                @foreach (var segment in category.Segments)
                {
                    <div class="greyBox">
                        <h2 id="@segment.SegmentTitle">@segment.SegmentTitle</h2>
                        <hr />

                        <p class="bodyText">@segment.SegmentBody</p>
                    </div>
                }
                @if (User.IsInRole("Admin"))
                {
                <h2>Add New Segment</h2>
                <form class="addArticle" action="~/Default/Category/AddSegment">
                    <input name="id" hidden value="@category.CategoryId" />
                    <hr />

                    <input name="Title" placeholder="Segment Title" />
                    <hr />
                    <textarea name="Body" placeholder="Segment Body"></textarea>
                    <hr />
                    <button>Add Seg</button>
                </form>
                }
                </div>





            <div class="col-sm-3">
                <div class="productParent">
                    @foreach (var product in category.Products)
                    {
                        <div class="individualProduct">
                            <a href="@product.ProductLink"><h4 class="productTitle">@product.ProductName</h4></a>
                            <hr />
                            <div class="childRow">
                                <img class="subCatPicSmall" src="@product.ProductImg" height="100" width="100" />
                                <a href="@product.ProductLink" class="priceBtnSml btn btn-success">$@product.ProductPrice</a>
                                @if (product.ProductArticle == true)
                                {
                                    <a class="reviewBtnSml btn btn-danger" href="~/@category.CategorySlug/@product.ProductSlug">Read Review</a>
                                }

                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    }

    if (category.CategoryArticle == false)
    {
        if (User.IsInRole("Admin"))
        {
            
            <form class="addArticle" action="Default/Category/AddDetails" method="post">

                <input name="id" hidden value="@category.CategoryId" />
                <hr />

                <textarea name ="Intro" placeholder="Intro"></textarea>
                <hr />

                <input name ="Sec1Title" placeholder="Sec1Title" />
                <hr />

                <textarea name="Sec1Body" placeholder="Sec1Body" ></textarea>
                <hr />

                <input  name="Sec2Title" placeholder="Sec2Title" />
                <hr />

                <textarea name="Sec2Body" placeholder="Sec2Body"></textarea>
                <hr />

                <input name="Sec3Title" placeholder="Sec3Title" />
                <hr />

                <textarea name="Sec3Body" placeholder="Sec3Body"></textarea>
                <hr />

                <button>Submit</button>
            </form>
       

        }
        <div class="productParent">
            <div class="my-container">
                <h1>@category.CategoryName Comparison</h1>
                <img src="@category.CategoryPic">
            </div>
            @foreach (var product in category.Products)
            {
                <a href="@product.ProductLink">
                    <div class="individualProduct">
                        <h2 class="productTitle">@product.ProductName</h2>
                        <hr />
                        <div class="childRow">
                            <img class="subCatPic" src="@product.ProductImg" height="100" width="100" />
                            <p class="priceBtn btn btn-success">$@product.ProductPrice</p>
                            @if (product.ProductArticle == true)
                            {
                                <a class="articleBtn btn btn-danger" href="~/Product/Index/@product.ProductId">Read Review</a>
                            }

                        </div>
                    </div>
                </a>
            }
        </div>
    }








}




