
@model IEnumerable<AzureBlog.Models.CategoryModel>

@foreach(var category in Model)
{
    <title>@category.CategoryName Comparison</title>

    if (category.CategoryArticle == true ||(User.IsInRole("Admin"))
)
    {
        <div class="row">
            <div class="col-sm-9 mainContainer">
                <div class="my-container">
                    <h1>@category.CategoryName</h1>
                    <img src="@category.CategoryPic">
                </div>
        

                <p class="intro">@category.Intro</p>
                
                <div class="greyBox">
                    <div class="alignCenter">
                        <p class="tblContents">Table of contents</p>
                    </div>
                    <hr />
                    <div class="tableOfContents">
     
                        @foreach (var segment in category.Segments)
                        {
                        <a href="#@segment.SegmentTitle">@segment.SegmentTitle</a>
                        }
                    </div>
                </div>

                @foreach (var segment in category.Segments)
                {
                    <div class="greyBox">
                        <div class="alignCenter">
                            <div id="segmentTitle">
                                <h2 id="@segment.SegmentTitle">@segment.SegmentTitle</h2>
                            </div>
                            <hr />
                            @if (segment.SegmentImage != "")
                            {
                                <img class="categoryImg" src="@segment.SegmentImage" />
                            }
                            @if (segment.SegmentVideo != "")
                        {
                                <iframe src="https://www.youtube.com/embed/@segment.SegmentVideo" frameborder="0" allowfullscreen></iframe>
                            }
                        </div>
                        <p class="bodyText">@segment.SegmentPar1</p>
                        @if (segment.SegmentPar2 != "")
                        {
                            <br />
                            <p class="bodyText">@segment.SegmentPar2</p>
                        }
                        @if (segment.SegmentPar3 != "")
                        {
                            <br />
                            <p class="bodyText">@segment.SegmentPar3</p>
                        }
                        @if (segment.SegmentPar4 != "")
                        {
                            <br />
                            <p class="bodyText">@segment.SegmentPar4</p>
                        }
                        @if (segment.SegmentPar5 != "")
                        {
                            <br />
                            <p class="bodyText">@segment.SegmentPar5</p>
                        }
                        @if (segment.SegmentPar6 != "")
                        {
                            <br />
                            <p class="bodyText">@segment.SegmentPar6</p>
                        }
                        @if (segment.SegmentPar7 != "")
                        {
                            <br />
                            <p class="bodyText">@segment.SegmentPar7</p>
                        }

                        @if (segment.Resources.Count() > 0)
                        {
                            <div class="alignCenter">
                                <button type="button" class="btn btn-primary btn-lg outline learnMore">
                                    Learn More About
                                    @segment.SegmentTitle
                                </button>
                            </div>
                            <div class="moreResources">

                                <ul>

                                    @foreach (var resource in segment.Resources)
                                    {
                                        <li><a href="@resource.ResourceLink">@resource.ResourceTitle</a></li>
                                    }
                                </ul>
                            </div>

                        }
                    </div>
                    if (User.IsInRole("Admin"))
                    {
                        <h2>Add New Resource</h2>
                        <form class="addResource" action="~/Default/Category/AddResource">
                            <input name="id" hidden value="@segment.SegmentId" />
                            <hr />

                            <textarea name="Title" placeholder="Resource Title"></textarea>

                            <input name="Link" placeholder="Resource Link" />
                            <hr />
             

                            <button>Add Resource</button>
                        </form>
                    }
                }
                
   
                @Html.Partial("_AddSegment")


                </div>

          @Html.Partial("_Sidebar")

        </div>
    }

    @Html.Partial("_ArticleFalse")


}




